<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/diary.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<a th:href="@{/post}">글쓰기</a>

<table>
    <thead>
    <tr>
<!--        <th class="one wide">번호</th>-->
        <th class="ten wide">제목</th>
        <th class="ten wide">가수</th>
        <th class="two wide">작성자</th>
<!--        <th class="three wide">작성일</th>-->
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="diary : ${diaryList}">
        <td>
            <a th:href="@{'/post/' + ${diary.id}}">
                <span th:text="${diary.title}"></span>
            </a>
        </td>
        <td>
            <span th:text="${diary.singer}"></span>
        </td>
        <td>
            <span th:text="${diary.writer}"></span>
        </td>
<!--        <td>-->
<!--            <span th:text="${#temporals.format(diary.createdDate, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>