<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        rect {
            width: 11px;
            height: 11px;
            rx: 2px;
            ry: 2px;
            fill: #EAEAEA;
        }
        text {
            font-size: 11px;
        }

    </style>
</head>
<body>


<svg width="400px" height="200px">
    <g id="moodRect" class="dates">
    </g>
    <g transform="translate(0, 11)">
        <text text-anchor="start" dy="0" style="display: none;">Sun</text>
        <text text-anchor="start" dy="15">Mon</text>
        <text text-anchor="start" dy="30" style="display: none;">Tue</text>
        <text text-anchor="start" dy="45">Wed</text>
        <text text-anchor="start" dy="60" style="display: none;">Thu</text>
        <text text-anchor="start" dy="75">Fri</text>
        <text text-anchor="start" dy="90" style="display: none;">Sat</text>
    </g>
</svg>



<script>


    const date = new Date().getDate();
    const dates = []

    dates.unshift("</g>")
    for (var i=0; i<12; i++) {
        x = 200 - 15*i;
        for (var j=0; j<7; j++) {
            thisDate = new Date(new Date().setDate(date-j-7*i));
            y = dayLoc(thisDate.getDay());
            if (y == 0) {
                dates.unshift("<rect y='"+y+"' data-date='"+thisDate.toLocaleDateString()+"'></rect>");
                dates.unshift("<g transform='translate("+String(x)+",0)'>");
                dates.unshift("</g>")
            }
            else if (y == 6) {
                dates.unshift("<rect y='"+y+"' data-date='"+thisDate.toLocaleDateString()+"'></rect>");
            }
            else {
                dates.unshift("<rect y='"+y+"' data-date='"+thisDate.toLocaleDateString()+"'></rect>");
            }
        }
    }
    dates.unshift("<g transform='translate("+String(x)+",0)'>");

    function dayLoc(day) {
        if (day == 0) { return 0; }
        else if (day == 1) { return 15; }
        else if (day == 2) { return 30; }
        else if (day == 3) { return 45; }
        else if (day == 4) { return 60; }
        else if (day == 5) { return 75; }
        else if (day == 6) { return 90; }
    }

    // console.log(dates);
    document.querySelector('.dates').innerHTML = dates.join('');

</script>


</body>
</html>
