<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        rect {
            width: 16px;
            height: 16px;
            rx: 4px;
            ry: 4px;
        }

        text {
            font-size: 14px;
        }

    </style>

</head>

<body>

<svg width="350px" height="140px">

    <g transform="translate(0, 14)">
        <text dy="0" style="display: none;">Sun</text>
        <text dy="20">Mon</text>
        <text dy="40" style="display: none;">Tue</text>
        <text dy="60">Wed</text>
        <text dy="80" style="display: none;">Thu</text>
        <text dy="100">Fri</text>
        <text dy="120" style="display: none;">Sat</text>
    </g>

    <g th:each="dateList : ${dateList}">
        <a th:if="${dateList.diaryDto.id != null}"
           th:href="@{'/diary/' + ${dateList.diaryDto.id}}">
            <rect th:x="${dateList.x}" th:y="${dateList.y}"
                  th:fill="${dateList.fill}"
                  th:data-date="${dateList.diaryDto.createdDate}"></rect>
        </a>
        <a th:unless="${dateList.diaryDto.id != null}">
            <rect th:x="${dateList.x}" th:y="${dateList.y}"
                  th:fill="${dateList.fill}"
                  th:data-date="${dateList.diaryDto.createdDate}"></rect>
        </a>
    </g>

</svg>

</body>
</html>

