<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>


    <!--<a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>-->
    <!--<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>-->
    <!--<a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>-->
    <!--<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/mypage}">내정보</a>-->
    <!--<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>-->


    <!-- DIARY-LIST -->
    <div th:insert="diary/list.html" id="list"></div>


    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>

</body>
</html>